<h2>Home Page</h2>

<% if Current.user %>
  <div>
    Balance: <%= Current.user.balance %> Silveuros
  </div>
  <br>

  <%= button_to "Sign Out", logout_path,  method: :delete %>
<% else %>
  <%= link_to "Sign up", sign_up_path %>
  <%= link_to "Sign In", sign_in_path %>
<% end %>
